<?php $baseUrl = $this->data['baseUrl']?>
<div class="navbar">
    <!-- Open side - Naviation on mobile -->
    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
      <i class="material-icons">&#xe5d2;</i>
    </a>
    <!-- / -->

    <!-- Page title - Bind to $state's title -->
    <div class="navbar-item pull-left h5" id="pageTitle">
      <?php if( isset($this->data['showSave']) && $this->data['showSave'] == 1 ){?>
        <button type="button" class="btn btn-outline b-info text-info" id="btn-save-form">
          <?php echo $this->trans->get('save')?>
        </button>
      <?php }?>
      <?php echo $this->data['title']?>
    </div>

    <!-- navbar right -->
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item">
        <a class="nav-link switch-lang" data-lang="th"><img alt="ไทย" src="<?php echo $baseUrl?>assets/cms/images/flag-th.png"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link switch-lang" data-lang="en"><img alt="English" src="<?php echo $baseUrl?>assets/cms/images/flag-en.png"></a>
      </li>
     <!--  <li class="nav-item dropdown pos-stc-xs">
        <a class="nav-link" href data-toggle="dropdown">
          <i class="material-icons">&#xe7f5;</i>
          <span class="label label-sm up warn">1</span>
        </a>
        <div ui-include="'/assets/themeforest/views/blocks/dropdown.notification.html'"></div>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href>
      		<i class="fa fa-calendar"></i>
      		<span class="label label-sm up warn">2</span>
      	</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href>
      		<i class="fa fa-envelope-o"></i>
      		<span class="label label-sm up warn">3</span>
      	</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link clear" href data-toggle="dropdown">
          <span class="avatar w-32">
            <img src="<?php echo $baseUrl . $this->avatar['thumbpath']?>" alt="...">
            <i class="on b-white bottom"></i>
          </span>
        </a>
        <!-- <div ui-include="'/assets/themeforest/views/blocks/dropdown.user.html'"></div> -->
      </li>
    </ul>
    <!-- / navbar right -->
</div>
